<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="color in colors">
                {{color}}
            </li>
        </ul>

        <ul>
            <li v-for="item in home">
                {{item.father}}
            </li>
        </ul>
    </div>
    <script src="../../Scripts/vue.js"></script>
    <script>
        var vm = new Vue({

            el: "#app",
            data: {
                colors: ['black', 'red', 'blue'],
                home: [{ father: 'Tom' }, { father: 'bob' }]
            }
        })
    </script>
</body>
</html>